body {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
table td {
  vertical-align: top;
}
body {
  color: #111827;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
strong {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
}
h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}
h4,
h5,
h6 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.25rem;
}
th,
td {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a:not(.button-primary):not(.button) {
  color: #1d4ed8;
  text-decoration: none;
}
a:not(.button-primary):not(.button) img {
  vertical-align: top;
}
p,
dl,
ul,
ol {
  margin: 0 0 0.75rem;
}
dt + dd {
  margin: 0;
  padding-left: 0.25rem;
}
p + br {
  display: none;
}
html,
body {
  background-color: #f3f4f6;
}
.wrapper {
  margin: 0 auto;
}
.wrapper-inner {
  padding-bottom: 1.5rem;
  width: 100%;
}
.main {
  margin: 0 auto;
  text-align: left;
  width: 640px;
}
.header {
  padding: 1.5rem;
}
.main-content {
  background-color: #fff;
  padding: 1.5rem;
}
.footer {
  padding: 1.5rem;
}
a.button,
.button-primary {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  color: #fff;
  background: #2563eb;
  border: none;
  border-radius: 0;
  text-decoration: none !important;
  font-weight: 400;
}
.button > tr > td {
  padding-bottom: 0.5rem;
}
.button .inner-wrapper td {
  border-radius: 0;
  background-color: #2563eb;
}
.button .inner-wrapper td a {
  border-radius: 0;
  border: 1px solid #2563eb;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
}
.message-info,
.message-gift {
  width: 100%;
}
.message-info td,
.message-gift td {
  padding: 0.5rem;
}
.message-details strong {
  margin-right: 0.5rem;
}
.message-details td {
  padding-bottom: 0.25rem;
}
.order-details {
  width: 100%;
}
.order-details .address-details,
.order-details .method-info {
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 50%;
}
.email-items {
  width: 100%;
}
.email-items tfoot > tr > th,
.email-items tfoot > tr > td {
  background-color: #f3f4f6;
}
.email-items > thead > tr > th,
.email-items > tbody > tr > th {
  padding: 0.5rem;
}
.email-items > thead > tr > td,
.email-items > tbody > tr > td {
  padding: 0.5rem;
}
.email-items > thead > tr > td.message-gift,
.email-items > tbody > tr > td.message-gift {
  border-top: none;
  padding-top: 0;
}
.email-items > tbody > tr > th,
.email-items > tbody > tr > td {
  border-top: 1px solid #f3f4f6;
}
.email-items > tbody > tr + tr > th,
.email-items > tbody > tr + tr > td {
  border-top: 0;
}
.email-items p {
  margin-bottom: 0;
}
.email-items .product-name {
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.email-items .has-extra .sku {
  margin-bottom: 0.5rem;
}
.email-items .item-info dl {
  margin-bottom: 0;
  padding-left: 1rem;
}
.email-items .item-info dl dt,
.email-items .item-info dl dd {
  margin-bottom: 0;
  padding-bottom: 0;
}
.email-items .item-info dl dd {
  padding-left: 0.5rem;
}
.email-items .item-qty {
  text-align: center;
}
.email-items .item-price,
.email-items .item-subtotal {
  text-align: right;
}
.email-items .item-extra {
  padding-top: 0;
}
.email-items .order-totals > tr > th {
  font-weight: 400;
}
.email-items .order-totals > tr > th,
.email-items .order-totals > tr > td {
  padding: 0.5rem;
  text-align: right;
}
.email-items .order-totals > tr + tr th,
.email-items .order-totals > tr + tr td {
  padding-top: 0;
}
.email-items .order-totals .price {
  white-space: nowrap;
}
.email-items .bundle-option-label > td {
  padding: 0 0.5rem 0 1.5rem;
}
.email-items .bundle-option-value > td {
  padding: 0 0.5rem 0.5rem;
}
.email-items .bundle-option-value > td.item-info {
  padding: 0 0.5rem 0.5rem 2rem;
}
.email-items tr.bundle-option-value + tr > td.item-extra {
  padding-top: 0.5rem;
}
.email-credentials {
  width: 100%;
}
.email-credentials tr + tr th,
.email-credentials tr + tr td {
  padding-bottom: 0.5rem;
}
.email-features {
  width: 100%;
  margin-top: 1.5rem;
}
.email-features td {
  width: 50%;
}
.email-features td table {
  width: 100%;
}
.email-features td table td {
  padding-right: 0.5rem;
  width: 30px;
}
.email-features td table td h3 {
  margin: 0;
}
.email-features td table td + td {
  padding-right: 1.25rem;
  width: auto;
}
.email-features tr + tr > td {
  padding-top: 1rem;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22%5C%2Fstatic%5C%2Ffrontend%5C%2FSwissup%5C%2Fbreeze-blank%5C%2Fvi_VN%5C%2Fcss%5C%2Femail%5C%2F_base.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FSwissup%5C%2Fbreeze-blank%5C%2Fvi_VN%5C%2Fcss%5C%2Fabstracts%5C%2Fvariables%5C%2F_typography.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FSwissup%5C%2Fbreeze-blank%5C%2Fvi_VN%5C%2Fcss%5C%2Fabstracts%5C%2F_modrtl.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FSwissup%5C%2Fbreeze-blank%5C%2Fvi_VN%5C%2Fcss%5C%2Fabstracts%5C%2Fmixins%5C%2F_typography.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAIA%3BEACI%2CSAAA%3BEACA%2CUAAA%3B%3BAAGJ%3BEACI%2CSAAA%3BEACA%2CYAAA%3BEACA%2CiBAAA%3BEACA%2CaAAA%3BEACA%2CqBAAA%3B%3BAAGJ%3BEACI%2CyBAAA%3B%3BAADJ%2CKAGI%3BEACI%2CmBAAA%3B%3BAA0BR%3BEACI%2CcAAA%3BEACA%2C0EC7BsE%2CoBAAoB%2CyBAAyB%2CyBAAyB%2CqBAAqB%2CkBAAkB%2CmBAAmB%2CkBD6BtM%3BEACA%2CmBAAA%3BEACA%2CeAAA%3BEACA%2CmBAAA%3BEE8NA%2CgBAAA%3B%3BAF1NJ%3BEACI%2CgBAAA%3B%3BAAGJ%3BAACA%3BAACA%3BAACA%3BAACA%3BAACA%3BEACI%2CkBAAA%3B%3BAAGJ%3BEGjBI%2CmBAAA%3BEACA%2CoBAAA%3BEHkBA%2CiBAAA%3BEACA%2CmBAAA%3B%3BAAEJ%3BEG1BI%2CiBAAA%3BEACA%2CiBAAA%3BEH2BA%2CsBAAA%3B%3BAAEJ%3BEGlCI%2CkBAAA%3BEACA%2CoBAAA%3BEHmCA%2CqBAAA%3B%3BAAEJ%3BAACA%3BAACA%3BEG5CI%2CmBAAA%3BEACA%2CoBAAA%3BEH6CA%2CsBAAA%3B%3BAAGJ%3BAACA%3BEACI%2C0ECvEsE%2CoBAAoB%2CyBAAyB%2CyBAAyB%2CqBAAqB%2CkBAAkB%2CmBAAmB%2CkBDuEtM%3B%3BAAGJ%2CCAAC%2CIAAI%2CiBAAiB%2CIAAI%3BEACtB%2CcAAA%3BEACA%2CqBAAA%3B%3BAAFJ%2CCAAC%2CIAAI%2CiBAAiB%2CIAAI%2CSAGtB%3BEACI%2CmBAAA%3B%3BAAIR%3BAACA%3BAACA%3BAACA%3BEACI%2CmBAAA%3B%3BAAGJ%2CEAAK%3BEACD%2CSAAA%3BEEoKA%2CqBAAA%3B%3BAFhKJ%2CCAAI%3BEACA%2CaAAA%3B%3BAA6BJ%3BAACA%3BEACI%2CyBAAA%3B%3BAAGJ%3BEACI%2CcAAA%3B%3BAAGJ%3BEACI%2CsBAAA%3BEACA%2CWAAA%3B%3BAAGJ%3BEACI%2CcAAA%3BEEmHA%2CgBAAA%3BEFjHA%2CYAAA%3B%3BAAGJ%3BEACI%2CeAAA%3B%3BAAGJ%3BEACI%2CsBAAA%3BEACA%2CeAAA%3B%3BAAGJ%3BEACI%2CeAAA%3B%3BAAuBJ%2CCAAC%3BAACD%3BEACI%2CqBAAA%3BEACA%2CuBAAA%3BEACA%2CWAAA%3BEACA%2CmBAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3BEACA%2CgBAAA%3B%3BAAIA%2COAAI%2CKAAK%3BEACL%2CsBAAA%3B%3BAAFR%2COAKI%2CeACI%3BEACI%2CgBAAA%3BEACA%2CyBAAA%3B%3BAARZ%2COAKI%2CeACI%2CGAII%3BEACI%2CgBAAA%3BEACA%2CyBAAA%3BEACA%2CWAAA%3BEACA%2CqBAAA%3BEACA%2CuBAAA%3BEACA%2CqBAAA%3B%3BAAyChB%3BAACA%3BEACI%2CWAAA%3B%3BAAFJ%2CaAII%3BAAHJ%2CaAGI%3BEACI%2CeAAA%3B%3BAAQR%2CgBACI%3BEENA%2CoBAAA%3B%3BAFKJ%2CgBAII%3BEACI%2CuBAAA%3B%3BAAQR%3BEACI%2CWAAA%3B%3BAADJ%2CcAGI%3BAAHJ%2CcAII%3BEEtBA%2C%2BBAAA%3BEFwBI%2CUAAA%3B%3BAAiBR%3BEACI%2CWAAA%3B%3BAADJ%2CYAGI%2CMACM%2CKACI%3BAALd%2CYAGI%2CMACM%2CKAEI%3BEACE%2CyBAAA%3B%3BAAPhB%2CYAYM%2CQAEI%2CKACI%3BAAfd%2CYAaM%2CQACI%2CKACI%3BEACE%2CeAAA%3B%3BAAhBhB%2CYAYM%2CQAEI%2CKAKI%3BAAnBd%2CYAaM%2CQACI%2CKAKI%3BEACE%2CeAAA%3B%3BAAEA%2CYAVV%2CQAEI%2CKAKI%2CKAGG%3BAAAD%2CYATV%2CQACI%2CKAKI%2CKAGG%3BEACG%2CgBAAA%3BEACA%2CcAAA%3B%3BAAxBpB%2CYA8BM%2CQACI%2CKACI%3BAAhCd%2CYA8BM%2CQACI%2CKAEI%3BEACE%2C6BAAA%3B%3BAAGJ%2CYAPN%2CQACI%2CKAMM%2CKACE%3BAADN%2CYAPN%2CQACI%2CKAMM%2CKAEE%3BEACE%2CaAAA%3B%3BAAxCpB%2CYA8CI%3BEACI%2CgBAAA%3B%3BAA%5C%2FCR%2CYAkDI%3BEACI%2CgBAAA%3BEACA%2CsBAAA%3B%3BAApDR%2CYAuDI%2CWAAW%3BEACP%2CqBAAA%3B%3BAAxDR%2CYA2DI%2CWACI%3BEACI%2CgBAAA%3BEEtGR%2CkBAAA%3B%3BAFyCJ%2CYA2DI%2CWACI%2CGAII%3BAAhEZ%2CYA2DI%2CWACI%2CGAKI%3BEACI%2CgBAAA%3BEACA%2CiBAAA%3B%3BAAnEhB%2CYA2DI%2CWACI%2CGAUI%3BEE%5C%2FGR%2CoBAAA%3B%3BAFyCJ%2CYA4EI%3BEACI%2CkBAAA%3B%3BAA7ER%2CYAgFI%3BAAhFJ%2CYAiFI%3BEE1HA%2CiBAAA%3B%3BAFyCJ%2CYAqFI%3BEACI%2CcAAA%3B%3BAAtFR%2CYAyFI%2CcACM%2CKACI%3BEACE%2CgBAAA%3B%3BAA5FhB%2CYAyFI%2CcACM%2CKAKI%3BAA%5C%2FFd%2CYAyFI%2CcACM%2CKAMI%3BEACE%2CeAAA%3BEE1IZ%2CiBAAA%3B%3BAF8IQ%2CYAZR%2CcACM%2CKAWM%2CKACA%3BAADJ%2CYAZR%2CcACM%2CKAWM%2CKAEA%3BEACI%2CcAAA%3B%3BAAxGpB%2CYAyFI%2CcAoBI%3BEACI%2CmBAAA%3B%3BAASZ%2CYACI%2CqBACM%3BEElKN%2C0BAAA%3B%3BAFgKJ%2CYAOI%2CqBACM%3BEExKN%2CwBAAA%3B%3BAF2KQ%2CYAJR%2CqBACM%2CKAGG%3BEE3KT%2C6BAAA%3B%3BAFgKJ%2CYAiBI%2CGAAE%2CoBAAuB%2CKACnB%2CKAAE%3BEACA%2CmBAAA%3B%3BAASZ%3BEACI%2CWAAA%3B%3BAADJ%2CkBAGI%2CGAAK%2CKACD%3BAAJR%2CkBAGI%2CGAAK%2CKAED%3BEACI%2CsBAAA%3B%3BAAKZ%3BEACI%2CWAAA%3BEACA%2CkBAAA%3B%3BAAFJ%2CeAII%3BEACI%2CUAAA%3B%3BAALR%2CeAII%2CGAGI%3BEACI%2CWAAA%3B%3BAARZ%2CeAII%2CGAGI%2CMAGI%3BEEjNR%2CqBAAA%3BEFmNY%2CWAAA%3B%3BAAZhB%2CeAII%2CGAGI%2CMAGI%2CGAII%3BEACI%2CSAAA%3B%3BAAfpB%2CeAII%2CGAGI%2CMAYI%2CGAAK%3BEE1Nb%2CsBAAA%3BEF4NY%2CWAAA%3B%3BAArBhB%2CeA0BI%2CGAAK%2CKAAK%3BEACN%2CiBAAA%22%7D */